{% extends "manager/main.html" %}

{% block bar %}
  {% if user.is_authenticated %}   sidebar {% else %}  sidebarno {% endif %}
{% endblock %}

{% block course %}
 active
{% endblock %}


{% block groups_visible %}
 visible
{% endblock %}

{% block namepage %}
    <i class="fa fa-graduation-cap" aria-hidden="true"></i> Курсы
{% endblock %}



{% block content %}




    <main class="main users chart-page" id="skip-target">
      <div class="container">
        <h2 class="main-title"></h2>

        <div class="row">

            <div class="col-lg-4">



                <div class="add_news">
                    <div class="headers"> Добавление курса </div>
                    <form method="POST">
                         {% csrf_token %}
                             {{ form.as_p }}
                        <br>
                        <br>
                        {% if redactory %}
                                <button class="knopka"> Редактировать </button>
                              <a href="{% url 'add_news' %}">  <i class="fa fa-plus-square-o" aria-hidden="true"></i> Добавить </a>
                        {% else %}
                              <button class="knopka"> Добавить </button>
                        {% endif %}
                    </form>
                    <br>
                       {% if redactory %}
                             {{ post_data }}
                            {{ post_time }}
                       {% endif %}
                   <div class="error">  {{ error }}</div>
                </div>
            </div>


          <div class="col-lg-5">
              <div class="text">
                    <div class="group_list">
                    {{ newses }}
                <table>
                            <tr>
                                <th class="name">Имя</th>
                                <th class="name"> Редактировать </th>
                                <th class="name"> Удалить </th>
                             </tr>

                   {% for news in all_news %}
                        <tr>
                          <td class="names2">  <a href="{% url 'edit_news' news.id %} "> {{ news.heading  }}  </a>   </td>
                          <td class="names2">  <a href="{% url 'edit_news' news.id %}"> Редактировать </a>   </td>
                          <td class="names3">  <a href="{% url 'delete_news' news.id %}"> Удалить </a>    </td>
                        </tr>
                            {% endfor %}
                 </table>

    </div>

              </div>

          </div>

          <div class="col-lg-3">
             {% include 'manager/show_news.html' %}
          </div>
        </div>
      </div>
    </main>


{% endblock %}


