{% extends "manager/main.html" %}

{% block bar %}
  {% if user.is_authenticated %}   sidebar {% else %}  sidebarno {% endif %}
{% endblock %}

{% block indexactive %}
     active
{% endblock %}


{% block namepage %}
       Главная страница
{% endblock %}



{% block content %}

    <main class="main users chart-page" id="skip-target">
      <div class="container">
        <h2 class="main-title"></h2>

        <div class="row">
          <div class="col-lg-9">
              <div class="text">

                    Добро пожаловать на сайт Кванториума, тут ты можешь записаться на курсы и получать
                    уведомление о всех событиях жизни нашей организации
              </div>

          </div>
          <div class="col-lg-3">


        {% if exit %}

            {% include 'manager/show_news.html' %}

        {% endif %}
          </div>
        </div>
      </div>
    </main>


{% endblock %}


