{% extends "manager/main.html" %}

{% block bar %}
  {% if user.is_authenticated %}   sidebar {% else %}  sidebarno {% endif %}
{% endblock %}

{% block indexactive %}
     active
{% endblock %}


{% block namepage %}
       Главная страница
{% endblock %}



{% block content %}

    <main class="main users chart-page" id="skip-target">
      <div class="container">
        <h2 class="main-title"></h2>

        <div class="row">
          <div class="col-lg-9">
              <div class="text">
                    Что бы зайти на сайт, пройдите процедуру регистрации
                    После залогинитесь под своим именем

              </div>

          </div>
          <div class="col-lg-3">
        {% if exit %}
            <article class="white-block">
              <div class="top-cat-title">
                <h3>Последнии новости </h3>
                <p>{{ new.count }}</p>
              </div>
              <ul class="top-cat-list">

                  {% for news in new %}

                <li>
                  <a href="{% url 'new_post' news.id %}">
                    <div class="top-cat-list__title">
                     {{ news.heading }}
                    </div>
                    <div class="top-cat-list__subtitle">
                      {{ news.data }}
                    </div>
                  </a>
            {% endfor %}
              </ul>
            </article>
        {% endif %}
          </div>
        </div>
      </div>
    </main>


{% endblock %}


