<!-- templates/registration/login.html -->
{% extends 'manager/main.html' %}

{% block bar %}
  {% if user.is_authenticated %}   sidebar {% else %}  sidebarno {% endif %}
{% endblock %}

{% block namepage  %}
     Изменение пароля
{% endblock %}

{% block content %}

  <div class="layer"></div>
    <main class="page-center">
        <article class="sign-up">
            {% if msg %}
               {{ msg }}
                  {% endif %}
                     <h1 class="sign-up__title"></h1>


    <form class="sign-up-form form"  method="POST">
    {% csrf_token %}


       <label class="form-label-wrapper">
        <p class="form-label">Старый пароль</p>
              {{ form.old_password }}
         {{ form.errors.old_password }}
      </label>

           <label class="form-label-wrapper">
        <p class="form-label">Новый пароль</p>
              {{ form.new_password }}
      </label>


           <label class="form-label-wrapper">
        <p class="form-label">Повторите пароль</p>
              {{ form.new_password2 }}
      </label>


      <button class="form-btn primary-default-btn transparent-btn">Изменить</button>
             {{ res }}
    </form>
  </article>
    <div class="error">
                      {{ data.res}}

        </div>

</main>
<!-- Chart library -->
<script src="./plugins/chart.min.js"></script>
<!-- Icons library -->
<script src="plugins/feather.min.js"></script>
<!-- Custom scripts -->
<script src="js/script.js"></script>


{% endblock content %}



{% block main-nav %}


{% endblock %}

