{% extends "manager/main.html" %}

{% block bar %}
  {% if user.is_authenticated %}   sidebar {% else %}  sidebarno {% endif %}
{% endblock %}

{% block message_activ %}
 active
{% endblock %}


{% block namepage %}
      <i class="fa fa-university" aria-hidden="true"></i> Группы
{% endblock %}



{% block content %}




    <main class="main users chart-page" id="skip-target">
      <div class="container">
        <h2 class="main-title"></h2>


            {% include 'manager/group/menu_group' %}



        <div class="row">
            <div class="col-lg-9">

            </div>








            <div class="col-lg-3">
            {% include 'manager/news/show_news.html' %}
          </div>
        </div>
      </div>
    </main>


{% endblock %}


