{% extends "manager/main.html" %}

{% block bar %}
  {% if user.is_authenticated %}   sidebar {% else %}  sidebarno {% endif %}
{% endblock %}

{% block newsactiv %}
 active
{% endblock %}

{% block namepage %}
      <i class="fa fa-rss-square" aria-hidden="true"></i>Новости
{% endblock %}



{% block content %}

    <main class="main users chart-page" id="skip-target">
      <div class="container">
        <h2 class="main-title"></h2>

        <div class="row">
          <div class="col-lg-9">
              <div class="text">

                  {% for news in new %}

                    <div class="newsblock">
                 <a href="{% url 'new_post' news.id %}">
                         <div class="zagolovog"> <a href="{% url 'new_post' news.id %}"> {{ news.heading }} <i class="fa fa-flag" aria-hidden="true"></i></a> </div>
                         <div class="telo"> <a href="{% url 'new_post' news.id %}"> {{ news.body }} </a> </div>
                         <div class="ndata"> <a href="{% url 'new_post' news.id %}">  {{ news.data }} {{ news.time }} </a> </div>
                    </a>
                    </div>

                  {% endfor %}

              </div>

          </div>
          <div class="col-lg-3">
            {% include 'manager/news/show_news.html' %}
          </div>
        </div>
      </div>
    </main>


{% endblock %}


